<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <variable name="FILE_NAME" value="temp-server" />
    <variable name="PATTERN" value="%date{yyyy-MM-dd'T'HH:mm:ss.SSSXXX,UTC}\t%X{component}\t%level\t%marker\t%X{reqId}\t%X{txId}\t[%thread]\t%logger{36}\t%msg%n" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="rm.tempserver" level="TRACE" />

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
