# server listening port
server.port=8890

# InfluxDb connection details
data-source.url=http://localhost:8086
data-source.database=database
data-source.username=user
data-source.password=pass

# misc configuration
spring.main.banner-mode=off
